.button {
  border: none;
  padding: 16px 32px;
  background-color: rgb(232, 83, 83);
  color: white;
  font-size: 0.75rem;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.33;
}

.button.blue {
  background-color: #1fb6ff;
}

button.green {
  background-color: #02ba83;
}

button.red {
  background-color: #9d0127;
}

.button:hover {
  background-color: aliceblue;
  color: #192657;
}

.fa {
  font-size: 1rem;
}

@media (max-width: 480px) {
  .button.mobile {
    color: transparent;
    font-size: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: fixed;
    top: 90vh;
    left: 80vw;
  }
  .button.mobile::before {
    content: "+";
    color: #fff;
    font-size: 2rem;
    width: 100%;
    height: 100%;
  }
}
