* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(
    90deg,
    #64c2db 13.89%,
    #7476ed 36.94%,
    #c994df 59.2%,
    #e56f8c 88.89%
  );
}

.container {
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

header {
  background: #fff;
  height: 70px;
  justify-content: center;
  line-height: 70px;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 90%;
  margin: 5vh auto;
  padding: 50px;
  background: #fff;
  gap: 20px;
}

@media (max-width: 480px) {
  header {
    position: fixed;
    width: 100%;
  }
  main {
    padding: 0;
    margin: 20px 0 0 0;
    width: 100%;
    box-shadow: none;
  }
}
