.records {
  width: 100%;
  user-select: none;
  text-align: left;
}

.records th {
  height: 50px;
  background: #192657;
  padding-left: 20px;
  font-size: 1.2rem;
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}
.records td {
  height: 50px;
  padding-left: 20px;
}

.records th:last-child,
.records td:last-child {
  padding: 0;
  min-width: 140px;
  text-align: center;
}

.records tr:hover {
  background-color: #e6f9ff;
}
